In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## E.D.A

In [2]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

### Data Description

In [3]:
print("Train shape", train_df.shape)
print("Test shape", test_df.shape)

Train shape (54808, 14)
Test shape (23490, 13)

In [4]:
train_df.T

,0,1,2,3,4,5,6,7,8,9,...,54798,54799,54800,54801,54802,54803,54804,54805,54806,54807
employee_id,65438,65141,7513,2542,48945,58896,20379,16290,73202,28911,...,40257,68093,39227,12431,6915,3030,74592,13918,13614,51526
department,Sales & Marketing,Operations,Sales & Marketing,Sales & Marketing,Technology,Analytics,Operations,Operations,Analytics,Sales & Marketing,...,Sales & Marketing,Procurement,HR,Technology,Sales & Marketing,Technology,Operations,Analytics,Sales & Marketing,HR
region,region_7,region_22,region_19,region_23,region_26,region_2,region_20,region_34,region_20,region_1,...,region_2,region_2,region_11,region_26,region_14,region_14,region_27,region_1,region_9,region_22
education,Master's & above,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Master's & above,Bachelor's,Master's & above,...,Master's & above,Master's & above,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Master's & above,Bachelor's,NaN,Bachelor's
gender,f,m,m,m,m,m,f,m,m,m,...,f,f,m,f,m,m,f,m,m,m
recruitment_channel,sourcing,other,sourcing,other,other,sourcing,other,sourcing,other,sourcing,...,other,other,other,sourcing,other,sourcing,other,other,sourcing,other
no_of_trainings,1,1,1,2,1,2,1,1,1,1,...,2,1,2,1,2,1,1,1,1,1
age,35,30,34,39,45,31,31,33,28,32,...,40,50,34,31,31,48,37,27,29,27
previous_year_rating,5,5,3,1,3,3,3,3,4,5,...,5,5,5,NaN,1,3,2,5,1,1
length_of_service,8,4,7,10,2,7,5,6,5,5,...,4,6,3,1,2,17,6,3,2,5
KPIs_met >80%,1,0,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,1,0,0
awards_won?,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
avg_training_score,49,60,50,50,73,85,59,63,83,54,...,51,67,52,78,49,78,56,79,45,49
is_promoted,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test_df.T

,0,1,2,3,4,5,6,7,8,9,...,23480,23481,23482,23483,23484,23485,23486,23487,23488,23489
employee_id,8724,74430,72255,38562,64486,46232,54542,67269,66174,76303,...,11837,78278,27284,49291,47537,53478,25600,45409,1186,5973
department,Technology,HR,Sales & Marketing,Procurement,Finance,Procurement,Finance,Analytics,Technology,Technology,...,Operations,Operations,Sales & Marketing,Sales & Marketing,Sales & Marketing,Legal,Technology,HR,Procurement,Technology
region,region_26,region_4,region_13,region_2,region_29,region_7,region_2,region_22,region_7,region_22,...,region_33,region_22,region_2,region_30,region_20,region_2,region_25,region_16,region_31,region_17
education,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Bachelor's,Master's & above,Bachelor's,...,Bachelor's,Master's & above,NaN,Bachelor's,Bachelor's,Below Secondary,Bachelor's,Bachelor's,Bachelor's,Master's & above
gender,m,f,m,f,m,m,m,m,m,m,...,f,m,m,m,m,m,m,f,m,m
recruitment_channel,sourcing,other,other,other,sourcing,sourcing,other,sourcing,other,sourcing,...,sourcing,other,sourcing,other,other,sourcing,sourcing,sourcing,sourcing,other
no_of_trainings,1,1,1,3,1,1,1,2,1,1,...,1,2,2,1,1,1,1,1,3,3
age,24,31,31,31,30,36,33,36,51,29,...,29,40,44,34,28,24,31,26,27,40
previous_year_rating,NaN,3,1,2,4,3,5,3,4,5,...,5,5,4,3,4,3,3,4,NaN,5
length_of_service,1,5,4,9,7,2,3,3,11,2,...,6,3,4,5,2,1,7,4,1,5
KPIs_met >80%,1,0,0,0,0,0,1,0,0,1,...,1,1,0,0,0,0,0,0,0,1
awards_won?,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
avg_training_score,77,51,47,65,61,68,57,85,75,76,...,60,60,49,49,51,61,74,50,70,89

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
employee_id             23490 non-null int64
department              23490 non-null object
region                  23490 non-null object
education               22456 non-null object
gender                  23490 non-null object
recruitment_channel     23490 non-null object
no_of_trainings         23490 non-null int64
age                     23490 non-null int64
previous_year_rating    21678 non-null float64
length_of_service       23490 non-null int64
KPIs_met >80%           23490 non-null int64
awards_won?             23490 non-null int64
avg_training_score      23490 non-null int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB

There are missing values in both the training and test datasets. Education and previous_year_rating seems to be columns affected as seen below

In [8]:
train_df.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [9]:
test_df.isnull().sum()

employee_id                0
department                 0
region                     0
education               1034
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    1812
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
dtype: int64

In [10]:
train_cat = train_df.select_dtypes(include=["object"])

In [11]:
train_cat.head()

          department     region         education gender recruitment_channel
0  Sales & Marketing   region_7  Master's & above      f            sourcing
1         Operations  region_22        Bachelor's      m               other
2  Sales & Marketing  region_19        Bachelor's      m            sourcing
3  Sales & Marketing  region_23        Bachelor's      m               other
4         Technology  region_26        Bachelor's      m               other

### Visualization

## Data Cleaning

In [12]:
train_df["education"].value_counts()

Bachelor's          36669
Master's & above    14925
Below Secondary       805
Name: education, dtype: int64

In [13]:
train_df["education"].fillna("Bachelor's", inplace=True)
test_df["education"].fillna("Bachelor's", inplace=True)

In [14]:
train_df["previous_year_rating"].value_counts()

3.0    18618
5.0    11741
4.0     9877
1.0     6223
2.0     4225
Name: previous_year_rating, dtype: int64

In [15]:
train_df["previous_year_rating"].fillna(-999, inplace=True)
test_df["previous_year_rating"].fillna(-999, inplace=True)

In [16]:
# OHE

In [17]:
train_df = pd.concat([train_df, pd.get_dummies(train_df["department"], prefix="dep_")], axis=1)
test_df = pd.concat([test_df, pd.get_dummies(test_df["department"], prefix="dep_")], axis=1)

In [18]:
train_df = pd.concat([train_df, pd.get_dummies(train_df["region"], prefix="reg_")], axis=1)
test_df = pd.concat([test_df, pd.get_dummies(test_df["region"], prefix="reg_")], axis=1)

In [19]:
train_df = pd.concat([train_df, pd.get_dummies(train_df["gender"], prefix="gen_")], axis=1)
test_df = pd.concat([test_df, pd.get_dummies(test_df["gender"], prefix="gen_")], axis=1)

In [20]:
train_df = pd.concat([train_df, pd.get_dummies(train_df["recruitment_channel"], prefix="rec_")], axis=1)
test_df = pd.concat([test_df, pd.get_dummies(test_df["recruitment_channel"], prefix="rec_")], axis=1)

In [21]:
train_df["education"] = train_df["education"].map({"Bachelor's": 2, "Master's & above": 3, "Below Secondary": 1})
test_df["education"] = test_df["education"].map({"Bachelor's": 2, "Master's & above": 3, "Below Secondary": 1})

In [22]:
#Dropping columns

In [23]:
emp_id = test_df["employee_id"]
train_df.drop(["department", "region", "gender", "recruitment_channel", "education", "employee_id"], axis=1, inplace=True)
test_df.drop(["department", "region", "gender", "recruitment_channel", "education", "employee_id"], axis=1, inplace=True)

## Feature Engineering

## Data Prep

In [24]:
y_train = train_df["is_promoted"]
X_train = train_df.drop("is_promoted", axis=1)

X_test = test_df

# CV

In [25]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier

In [26]:
kf = KFold(n_splits=5)
rf_model = RandomForestClassifier(random_state=7)
scores = cross_val_score(rf_model, X_train, y_train, scoring="f1", cv=kf)
x = scores.mean()
x

0.38901500631438612

## Model

In [27]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

## Submission

In [28]:
submission = pd.DataFrame()
submission["employee_id"] = emp_id
submission["is_promoted"] = y_pred
submission.to_csv("sub_1.csv", index=False)

In [29]:
feature_importances = pd.DataFrame(model.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)

In [30]:
feature_importances

                        importance
avg_training_score        0.313906
age                       0.146335
length_of_service         0.110741
previous_year_rating      0.054135
KPIs_met >80%             0.048799
awards_won?               0.029948
dep__Operations           0.025424
no_of_trainings           0.024342
dep__Sales & Marketing    0.020262
rec__sourcing             0.015767
rec__other                0.015544
dep__Procurement          0.012470
reg__region_2             0.011918
gen__f                    0.010445
gen__m                    0.010318
dep__Analytics            0.010140
reg__region_22            0.008452
reg__region_7             0.008235
dep__Finance              0.008168
dep__Technology           0.007469
reg__region_15            0.006720
reg__region_13            0.006431
reg__region_27            0.005173
reg__region_4             0.005003
reg__region_26            0.004989
reg__region_23            0.004516
reg__region_16            0.004416
reg__region_17            0.004157
reg__region_31            0.004046
dep__HR                   0.003991
reg__region_28            0.003799
rec__referred             0.003776
dep__R&D                  0.003752
reg__region_25            0.003406
reg__region_11            0.003281
reg__region_20            0.002945
reg__region_30            0.002917
reg__region_14            0.002891
reg__region_8             0.002863
reg__region_29            0.002749
reg__region_1             0.002653
dep__Legal                0.002637
reg__region_19            0.002486
reg__region_10            0.002327
reg__region_5             0.002108
reg__region_32            0.001889
reg__region_12            0.001872
reg__region_21            0.001818
reg__region_6             0.001749
reg__region_3             0.001718
reg__region_24            0.001649
reg__region_33            0.001053
reg__region_9             0.000668
reg__region_34            0.000599
reg__region_18            0.000132